nav {
	overflow: hidden;
	background-color: #40bf80;
	border-radius: 8px;
}

nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}


/* CSS FOR LOGIN */

.login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login form {
	width: 250px;
	height: 250px;

	padding: 20px;
	border-radius: 8px;
	background-color: #c6ecd9;
}

form {
	display: grid;
	place-items: center;
}

form label {
text-align: right}
