<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="/userMenu"><img src="logo.png" alt="Gutse Putse"></a>
    <a href="/info"><p>Om os</p></a>
    <a href="/createDonation"><p>Opret donation</p></a>
    <a href="/receiveDonation"><p>Modtag donation</p></a>
    <a href="/"><p>Log ud</p></a>
</nav>

<p>Reservation bekræftet</p>
<a href="/userMenu">
<button>Gå tilbage til menuen</button>
</a>

</body>
</html>