<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> create </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="/"><img src="logo.png" alt="Gutse Putse"></a>
    <div class="nav-links">
    <a href="/info"><p>Om os</p></a>
    <a href="/create"><p>Opret bruger</p></a>
    <a href="/login"><p>Login</p></a>
    </div>
</nav>


<div class="selectCompanyOrOrganisatoin">
    <label for="company"> Virksomhed </label>
    <input type="radio" id="company" name="selectType" value="company">
    <label for="organisation"> Organisation </label>
    <input type="radio" id="organisation" name="selectType" value="organisation">
</div>

<div class="create-login">
    <form action="/userMenu" method="get">
        <label>Brugernavn:</label>
        <input type="text" placeholder="Indtast brugernavn">

        <label>Kodeord:</label>
        <input type="text" placeholder="Indtast kodeord">

        <label>Gentag Kodeord:</label>
        <input type="text" placeholder="Gentag kodeord"><br>

        <button type="submit">Opret bruger</button>
    </form>
</div>
</body>
</html>