<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret donation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <a href="/userMenu"><img src="logo.png" alt="Gutse Putse"></a>
        <div class="nav-links">
        <a href="/loggedInInfo"><p>Om os</p></a>
        <a href="/createDonation"><p>Opret donation</p></a>
        <a href="/receiveDonation"><p>Modtag donation</p></a>
        <a href="/"><p>Log ud</p></a>
        </div>
    </nav>
</header>

    <form action="/confirmDonation" class="menu">

        <div>
            <h1>Opret donation</h1>
        </div>

        <input type="text" id="CName" placeholder="Firma navn">

        <input type="text" id="location" placeholder="Lokation">

        <input type="text" id="fName" placeholder="Navn på ret">

        <input type="text" id="FAmount" placeholder="antal portioner">

        <button type="submit">Bekræft donation</button>

    </form>

</body>
</html>