<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> create </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="/"><img src="Guts_avatar.jpg" alt="Gutse Putse"></a>
    <a href="/info"><p>Om os</p></a>
    <a href="/create"><p>Opret bruger</p></a>
    <a href="/login"><p>Login</p></a>
</nav>


<div class="selectCompanyOrOrganisatoin">
    <label for="company"> Virksomhed </label>
    <input type="checkbox" id="company" name="company" value="company"> <br>
    <label for="organisation"> Organisation </label>
    <input type="checkbox" id="organisation" name="organisation" value="organisation"> <br>
</div>

<div class="username">
    <label><b>Brugernavn</b></label>
    <br><input type="text" placeholder="Indtast brugernavn"></br>
</div>

<div class="password">
    <label><b>Kodeord</b></label>
    <br><input type="text" placeholder="Indtast kodeord"></br>
</div>

<div class="repeatPassword">
    <label><b>Gentag Kodeord</b></label>
    <br><input type="text" placeholder="Gentag kodeord"></br>
</div>

<div class="createButton">
    <form action="/userMenu" method="get">
        <button type="submit">Opret bruger</button>
    </form>
</div>
</body>
</html>