<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret donation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <a href="/userMenu"><img src="" ><p>home</p></a>
        <a href="/info"><p>Om os</p></a>
        <a href="/createDonation"><p>Opret donation</p></a>
        <a href="/receiveDonation"><p>Modtag donation</p></a>
        <a href="/"><p>Log ud</p></a>
    </nav>
</header>

    <form action="/confirmDonation" class="menu">

        <div>
        <label for="CName">Firma:</label>
        <input type="text" id="CName">
        </div>

        <div>
        <label for="location">Lokation:</label>
        <input type="text" id="location">
        </div>

        <div>
        <label for="fName">Navn på ret:</label>
        <input type="text" id="fName">
        </div>

        <div>
        <label for="FAmount">Portioner:</label>
        <input type="text" id="FAmount">
        </div>

        <input type="submit" value="bekræft donation">

    </form>

</body>
</html>