<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret donation</title>
</head>
<body>
<header>
    <nav>

    </nav>
</header>

<div class="create-donation">
    <form>
        <label for="CName">Firma</label><br>
        <input type="text" id="CName"><br>

        <label for="location">Lokation</label><br>
        <input type="text" id="location"><br>

        <label for="fName">Navn på ret</label><br>
        <input type="text" id="fName"><br>

        <label for="FAmount">Potioner</label><br>
        <input type="text" id="FAmount"><br>

        <input type="submit" value="Opret donation">
    </form>

</div>

</body>
</html>