<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="/"><img src="logo.png" alt="Gutse Putse"></a>
    <div class="nav-links">
    <a href="/info"><p>Om os</p></a>
    <a href="/create"><p>Opret bruger</p></a>
    <a href="/login"><p>Login</p></a>
    </div>
</nav>

<div class="frontPageTitle">
    <h2>Når overskud bliver omsorg</h2>
</div>

<div class="circles">

    <div class="circle">
        <div class="companyInfo">
            <p>Hvis din virksomhed har overskydende mad fra jeres kantine kan I donere det til hjemløse eller sociale køkkener</p>
        </div>
    </div>

    <div class="circle">
        <div class="organisationInfo">
            <p>Er du en organisation der arbejder med hjemløse eller socialt udsatte kan du modtage donationer</p>
        </div>
    </div>
</div>

<footer class="footer-info">
    <div class="footer-headers">
        <h3>Find os</h3>
    </div>
    <div class="footer-content">
        <p> Gørløse </p>
        <p> Gørløsevænge 46 </p>
        <p> 3330 Gørløse </p>
    </div>
    <div class="footer-headers">
        <h3>Kontakt os</h3>
    </div>
    <div class="footer-content">
        <p> Tlf: 27 13 19 16 </p>
        <p> madspild@donation.dk </p>
    </div>
    <div class="footer-headers">
        <h3>Følg os</h3>
    </div>
    <div class="footer-content">
        <a href=Guts_avatar.jpg alt="Gutse Putse"><p>Facebook</p></a>
        <a href=Guts_avatar.jpg alt="Gutse Putse"><p>LinkedIn</p></a>
    </div>
</footer>

</body>
</html>