<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="/"><img src="logo.png" alt="Gutse Putse"></a>
    <div class="nav-links">
    <a href="/info"><p>Om os</p></a>
    <a href="/create"><p>Opret bruger</p></a>
    <a href="/login"><p>Login</p></a>
    </div>
</nav>

<div class="frontPageTitle">
    <h1>Når overskud bliver omsorg</h1>
</div>

<div class="circles">

    <div class="circle">
        <div class="companyInfo">
            <p>Hvis din virksomhed har overskydende mad fra jeres kantine kan I donere det til hjemløse eller sociale køkkener</p>
        </div>
    </div>

    <div class="circle">
        <div class="organisationInfo">
            <p>Er du en organisation der arbejder med hjemløse eller socialt udsatte kan du modtage donationer</p>
        </div>
    </div>
</div>

</body>
</html>