<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="index.html"><img src=""><p>home</p></a>
    <a href="/info"><p>Om os</p></a>
    <a href="/create"><p>Opret bruger</p></a>
    <a href="/login"><p>Login</p></a>
</nav>


<div class="madspild-info">
    <h1>
	om os
    </h1>	
    <p>
        Madspild er ikke godt. Vi har lavet denne side for at hjælpe alle jer Adems med at spilde mindre mad.
        I kunne selvfølgelig også bare handle ordentligt ind og lægge en ordentlig plan. Så slipper i for at spilde alt
        den mad.
        Vidste du godt at der i danmark bliver smidt mad ud der tilsvarer størrelsen af Sverige på månedlig basis.
    </p>
</div>

<div class="mission">
    <h1>
	Vores mission
    </h1>	
    <p>
        Vores mission er at løse problemet.
    </p>
</div>
</body>
</html>
