<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header>
    <nav>

    </nav>
</header>

<nav>
    <a href="/create"><p>Opret bruger</p></a>
    <a href="/login"><p>Login</p></a>
    <a href="/info"><p>Om os</p></a>
</nav>


<div class="login">
    <form>
        <label for="username">Brugernavn:</label><br>
        <input type="text" id="username" name="username"><br>

        <label for="pwd">Kodeord:</label><br>
        <input type="password" id="pwd" name="pwd"><br>

        <input type="button" value="Login">
    </form>
</div>

<footer>Brought to you by Guts and co.</footer>
</body>
</html>