<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <a href="/"><img src="logo.png" alt="Gutse Putse"></a>
    <div class="nav-links">
    <a href="/info"><p>Om os</p></a>
    <a href="/create"><p>Opret bruger</p></a>
    <a href="/login"><p>Login</p></a>
    </div>
</nav>

<div class="login">
    <form action="/userMenu" method="get">
        <label for="username">Brugernavn:</label>
        <input type="text" id="username" name="username">

        <label for="pwd">Kodeord:</label>
        <input type="password" id="pwd" name="pwd"><br>

        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>