<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createDonationPage</title>
</head>
<body>

<section>
    <p>Spaghetti med kødsovs</p>
    <p>5 måltider</p>
    <a>
        <button>Reserver</button>
    </a>
</section>

<section>
    <p>Butter Chicken</p>
    <p>10 måltider</p>
    <a>
        <button>Reserver</button>
    </a>
</section>

<section>
    <p>Boller i karry</p>
    <p>9 måltider</p>
    <a>
        <button>Reserver</button>
    </a>
</section>

<section>
    <p>Lasagne</p>
    <p>14 måltider</p>
    <a>
        <button>Reserver</button>
    </a>
</section>

</body>
</html>