<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createDonationPage</title>
</head>
<body>

<section>

    <label for="location" ></label>
        <select name="location" id="location">
            <option>Location</option>
            <option>København</option>
            <option>Roskilde</option>
            <option>Næstved</option>
            <option>Slagelse</option>
        </select>

</section>

<section>
    <p>Spaghetti med kødsovs</p>
    <p>5 måltider</p>
    <p>Roskilde</p>
    <a href="/confirmDonation">
        <button>Reserver</button>
    </a>
</section>

<section>
    <p>Frikadeller</p>
    <p>8 måltider</p>
    <p>Slagelse</p>
    <a href="/confirmDonation">
        <button>Reserver</button>
    </a>
</section>

<section>
    <p>Lasagne</p>
    <p>9 måltider</p>
    <p>København</p>
    <a href="/confirmDonation">
        <button>Reserver</button>
    </a>
</section>

<section>
    <p>Boller i karry</p>
    <p>10 måltider</p>
    <p>Næstved</p>
    <a href="/confirmDonation">
        <button>Reserver</button>
    </a>
</section>

<a href="/userMenu">
    <button>Tilbage</button>
</a>

</body>
</html>