<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    <a href="/userMenu"><img src="Guts_avatar.jpg" alt="Gutse Putse"></a>
    <a href="/info"><p>Om os</p></a>
    <a href="/createDonation"><p>Opret donation</p></a>
    <a href="/receiveDonation"><p>Modtag donation</p></a>
    <a href="/"><p>Log ud</p></a>
</nav>

<div class="round-text-field-display">

    <a href="/createDonation" class="round-text-field green">
        <p>Opret donation</p>
    </a>

    <a href="/receiveDonation" class="round-text-field orange">
        <p>Modtag donation</p>
    </a>

</div>


</body>
</html>